body {
  margin: 15px;
}

p {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 120%;
}

.mt {
  font-family: 'Oswald', sans-serif;
  font-size: 150%;
  margin: 2%;  
}

.ct {
  font-family: 'Oswald', sans-serif;
  font-size: 140%;
  margin: 6%;  
  text-align: center;
}

.img_cont{
    display:table-cell;
    vertical-align:middle;
    text-align:center;
    position:relative;
}

.img_cont img{
    position:absolute;
    z-index:-1;
    left:0;
    top:0;
}
