html.light {
  --color-bg: #ffffff;
  --color-text: #000000;
}

html.dark {
  --color-bg: #000000;
  --color-text: #ffffff;
}

body {
  padding: 15px;
  background-color: var(--color-bg);
  color: var(--color-text);
}

p {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 120%;
}

img {
  border-radius: 10px;
}

.wrapper{
  max-width: 800px;
  margin: 0 auto;
}

.mt {
  font-family: 'Oswald', sans-serif;
  font-size: 150%;
  margin: 2%;  
}

.ct {
  font-family: 'Oswald', sans-serif;
  font-size: 140%;
  margin: 6%;  
  text-align: center;
}

.container {
    position: relative;
    margin: 20px auto;
    width: 300px;
    height: 200px;
    border: 5px solid #FFF;
}

.loading {
	position: absolute;
	display: block;
	background: url("https://raw.githubusercontent.com/dimstr/Space_site/main/src/loader.gif") center center no-repeat;
	opacity: 0.1;
	width: 100%;
	height: 100%;
}
