body {
  margin: 15px;
}

p {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 120%;
}

.mt {
  font-family: 'Oswald', sans-serif;
  font-size: 150%;
  margin: 2%;  
}

.ct {
  font-family: 'Oswald', sans-serif;
  font-size: 140%;
  margin: 6%;  
  text-align: center;
}

.mainbackimg {
  background-image: url(https://downloader.disk.yandex.ru/preview/6a40eed41e27e6bdcbb3cea38505eafaac7cea32343e0ee545d36220e1a6098e/62d1a80b/jgFDY6ingmXaWE-n73dIfXuf4KgOfmTIhs15pl8C47-UTtFVI9-63ghIndhocf8VzPhFfZFTjioMV2XyXLC00A%3D%3D?uid=0&filename=jwst_bg_ph.jpg&disposition=inline&hash=&limit=0&content_type=image%2Fjpeg&owner_uid=0&tknv=v2&size=XXXL&crop=0);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
