body {
  margin: 15px;
}

p {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 120%;
}

.mt {
  font-family: 'Oswald', sans-serif;
  font-size: 150%;
  margin: 2%;  
}

.ct {
  font-family: 'Oswald', sans-serif;
  font-size: 140%;
  margin: 6%;  
  text-align: center;
}

.mainbackimg {
  background-image: url(assets/background2.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
